<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<h1>For Member ....................</h1>

<div sec:authorize="hasRole('USER')">Has USER ROLE</div>
<div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
<div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>

<div sec:authorize="isAuthenticated()">
    Only Authenticated user can see this Text
</div>

Authenticated username:
<div sec:authentication="name"></div>
Authenticated user roles:
<div sec:authentication="principal.authorities"></div>
<div sec:authentication="principal.memberGender"></div>
Member Phone Number
<div sec:authentication="principal.memberPhoneNumber"></div>

<div sec:authentication="principal.memberAge"></div>
<div sec:authentication="principal.memberTechStack"></div>
</html>